@import url('https://rsms.me/inter/inter.css');

* {
	box-sizing: border-box;
}

/* dracula color scheme */
:root {
	--background: #282a36;
	--current-line: #44475a;
	--foreground: #f8f8f2;
	--comment: #6272a4;
	--cyan: #8be9fd;
	--green: #50fa7b;
	--orange: #ffb86c;
	--pink: #ff79c6;
	--purple: #bd93f9;
	--red: #ff5555;
	--yellow: #f1fa8c;
	--charcoal: #1a1b21;
	--glass-background: #44475a4f;
}

html {
	font-family: 'Inter', sans-serif;
	color: var(--foreground);
}

@supports (font-variation-settings: normal) {
	html {
		font-family: 'Inter var', sans-serif;
	}
}

body {
	margin: 0;
	background-color: var(--background);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

a {
	text-decoration: none;
	color: inherit;
}

@keyframes FadeDown {
	0% {
		opacity: 0;
		transform: translateY(-30px);
	}

	100% {
		opacity: 1;
	}
}

@keyframes FadeUp {
	0% {
		opacity: 0;
		transform: translateY(30px);
	}

	100% {
		opacity: 1;
	}
}